html, body {
	overflow-x: hidden;
}
body {
    background-color: #fff;
    font-weight: 400;
    font-size: 20px;
    color: #3f4342;
    font-family: 'Source Sans Pro', sans-serif;
    line-height:1.625;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
body > div {
	font-size: 20px
}
p {
    margin: 0 0 1em;
}
p:last-child {
    margin-bottom: 0
}
.site-container a {
    color: #42acd1;
    text-decoration: none;
}
body :focus {
	outline: none;
}
a:hover, a:focus, a.fl-callout-title-link {
    color: #0f6687;
    text-decoration: none;
}
a, .gallery img {
    transition: all 0.1s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.25em;
    color: #42acd1;
    font-weight: 700;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 40px
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 27px;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 18px;
}
.site-inner {
    padding-top: 0;
    max-width: 100%;
    width: 100%
}
.site-container {
    max-width: 100%;
    width: 100%;
    clear: both;
}
.wrap {
    max-width: 1200px;
    padding: 20px;
}
.subpage-header .wrap {
    max-width: 1220px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.entry {
	margin-bottom: 0;
}
.entry-content ul {
    margin-bottom: 20px;
}
.site-container ::-webkit-input-placeholder {
    color: #9c9c9c;
    font-size: 16px;
    font-weight: bold;
}
.site-container :-moz-placeholder { /* Firefox 18- */
    color: #9c9c9c;
    font-size: 16px;
    font-weight: bold;
}
.site-container ::-moz-placeholder {  /* Firefox 19+ */
    color: #9c9c9c;
    font-size: 16px;
    font-weight: bold;
}
.site-container :-ms-input-placeholder {  
   color: #9c9c9c;
   font-size: 16px;
   font-weight: bold;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row::before,
.row::after {
    content: '';
    display: table;
    clear: both;
}
.one-third {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
a.btn-back-to-blog {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    display: table;
    margin: auto;
    padding: 2px 30px;
}
a.btn-back-to-blog:hover,
a.btn-back-to-blog:focus {
    border-color: #f47121;
    background-color: #f47121
}
.pagination {
    text-align: center;
}
.pagination li a {
    padding: 5px 15px;
    font-weight: 700;
    border: 2px solid #FFFFFF;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
}
.pagination li.active a,
.pagination li a:hover,
.pagination li a:focus {
    background: #FFFFFF;
    color: #42acd1;
}
body .fl-builder-content .with-number-heading .fl-heading,
body .fl-builder-content .with-number-heading .fl-heading .fl-heading-text {
    color: #88ca45;
}
body .fl-builder-content .with-number-heading .fl-heading .fl-heading-text em {
    color: #42acd1;
    margin-right: 20px;
}
.fl-builder-content  a.fl-button {
	border-radius: 50px;
}
.fl-builder-content .fl-module-button a.fl-button {
    font-family: 'Source Sans Pro', sans-serif;
    border-width: 3px;
    border-style: solid;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
}
.fl-builder-content .fl-module-button a.fl-button:hover,
.fl-builder-content .fl-module-button a.fl-button:focus {
	border-width: 3px;
}
.fl-builder-content .btn-orange .fl-button-wrap a.fl-button,
.fl-builder-content .btn-orange .fl-button-wrap a.fl-button:hover,
.fl-builder-content .btn-orange .fl-button-wrap a.fl-button:focus {
    border-color: #f47121;
}
.fl-builder-content .btn-blue-outline .fl-button-wrap a.fl-button {
    border-color: #42acd1;
}
.fl-builder-content .btn-white-outline .fl-button-wrap a.fl-button {
    border-width: 2px;
    border-color: #FFFFFF;
    background: transparent;
}
.fl-builder-content .btn-white-outline .fl-button-wrap a.fl-button:hover, 
.fl-builder-content .btn-white-outline .fl-button-wrap a.fl-button:focus {
    background-color: #FFFFFF
}
.fl-builder-content .btn-orange-border-bottom .fl-button-wrap a.fl-button { 
    border-color: #f8b033;
    border-width: 0 0 6px 0;
    border-radius: 0;
    padding: 0 0 5px;
}
.fl-builder-content .btn-blue .fl-button-wrap a.fl-button {
    border-color: #42acd1;
}
.fl-builder-content .btn-blue-no-outline .fl-button-wrap a.fl-button {
	border-color: transparent;
	padding-left: 0;
	padding-right: 0;
}
.fl-builder-content .btn-blue-no-outline .fl-button-wrap a.fl-button:hover,
.fl-builder-content .btn-blue-no-outline .fl-button-wrap a.fl-button:focus {
    border-color: #42acd1;
    padding-left: 16px;
    padding-right: 16px;
}
.fl-builder-content .btn-bgwhite-orangetxts .fl-button-wrap a.fl-button {
    border-color: #FFFFFF;
}
.fl-builder-content .btn-bgwhite-orangetxts .fl-button-wrap a.fl-button:hover, 
.fl-builder-content .btn-bgwhite-orangetxts .fl-button-wrap a.fl-button:focus {
    border-color: #b97113
}
.fl-builder-content .btn-green .fl-button-wrap a.fl-button {
    border-color: #88ca45;
}
.fl-builder-content .btn-green-outline .fl-button-wrap a.fl-button {
    border-color: #88ca45
}
.fl-builder-content .btn-darkgreen .fl-button-wrap a.fl-button {
    border-color: #7daa4f;
}
.fl-builder-content .btn-yellow .fl-button-wrap a.fl-button {
    border-color: #c7c919;
}
.gform_wrapper form::before,
.gform_wrapper form::after {
    content: '';
    display: table;
    clear: both
}
body .site-container .gform_wrapper ul li.gfield,
body .gform_wrapper li.hidden_label input {
    margin-top: 0
}
body .gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0;
    margin-bottom: 10px;
}
body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	padding: 15px;
	border: 1px solid #ddd;
    font-size: 16px;	
}
body .gform_wrapper .gform_footer {
	margin: 0;
	padding: 0;
}
body .site-container button,
body .site-container input[type="button"],
body .site-container input[type="reset"],
body .site-container input[type="submit"],
body .site-container .button,
body .gform_wrapper .gform_footer input.button,
body .gform_wrapper .gform_footer input[type=submit] {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #f47121;
	border: 2px solid #f47121;
	width: 100%;
}
body .site-container button:hover,
body .site-container button:focus,
body .site-container input[type="button"]:hover,
body .site-container input[type="button"]:focus,
body .site-container input[type="reset"]:hover,
body .site-container input[type="reset"]:focus,
body .site-container input[type="submit"]:hover,
body .site-container input[type="submit"]:focus,
body .site-container .button:hover,
body .site-container .button:focus,
body .gform_wrapper .gform_footer input.button:not([type=submit]):hover,
body .gform_wrapper .gform_footer input.button:not([type=submit]):focus {
    background-color: #FFFFFF;
    color: #f47121;
}
body .gform_wrapper .gform_footer input[type=submit] {
    background-color: #f47121;
	text-align: left;
	background-image: url(../images/icon-send-message.png);
	background-position: 95% center;
	background-repeat: no-repeat;
}
body .gform_wrapper .gform_footer input[type=submit]:hover,
body .gform_wrapper .gform_footer input[type=submit]:focus {
    color: #FFFFFF;
	filter: saturate(100%) hue-rotate(180deg);
	-webkit-filter: saturate(100%) hue-rotate(180deg);
}
body .fl-builder-pagination li .page-numbers {
	padding-right: 15px;
	padding-left: 15px;
	font-weight: 700;
	border: 2px solid #FFFFFF;
    margin-left: 3px;
    margin-right: 3px;
}
body .fl-builder-pagination li .page-numbers:not(.current) {
	background: transparent;
}
body .site-container .fl-builder-pagination li .page-numbers.current,
body .fl-builder-pagination li .page-numbers:hover,
body .fl-builder-pagination li .page-numbers:focus {
	background: #FFFFFF;
	color: #2D82A0
}
.fl-heading em {
    font-family: 'PT Serif', serif;
    color: #88ca45
}
#btn-header-contact a.fl-button {
    font-family: 'Open Sans', sans-serif;
    border-width: 2px;
    border-color: #42acd1;
}
#btn-header-contact i {
    width: 20px;
    height: 20px;
    background: url(../images/icon-phone.png) no-repeat center center;
}
#btn-header-teach a.fl-button {
    font-family: 'Open Sans', sans-serif;
    border-width: 2px;
    border-color: #88ca45;
}
#btn-header-teach .fl-button i {
    width: 20px;
    height: 20px;
    background: url(../images/icon-music-notes.png) no-repeat center center;
}
#btn-header-contact .fl-button i::before,
#btn-header-teach .fl-button i::before {
    visibility: hidden;
}
#btn-header-contact .fl-button:hover i, 
#btn-header-contact .fl-button:focus i,
#btn-header-teach .fl-button:hover i,
#btn-header-teach .fl-button:focus i {
    filter: saturate(10);
    -webkit-filter: saturate(10);
}
header.fl-theme-builder-header-shrink {
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
}
body.home header:not(.fl-theme-builder-header-shrink) #navbar .fl-menu {
    border-bottom: 1px solid #7d7d7d
}
#navbar .fl-menu .current-menu-parent > div > a {
    color: #f47121
}
#navbar .fl-menu .sub-menu {
    border-radius: 12px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}
#navbar .fl-menu .sub-menu::before {
    content: '';
    display: table;
    width: 0; 
    height: 0; 
    border-style: solid;
    border-width: 0 16px 15px;
    border-color: transparent transparent #f47121;
    position: absolute;
    top: -15px;
    margin-left: 45px;
}
#navbar .fl-menu .sub-menu li a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 30px;
}
#navbar .fl-menu .sub-menu li a:hover,
#navbar .fl-menu .sub-menu li a:focus,
#navbar .fl-menu .sub-menu .current_page_item a {
    color: #fbe19a
}
body .lesson-fancy-section > div {
    background-blend-mode: color-burn;
}

/* Border Animation Removed - by Mark Zambrano (UpWork Contract) 10/7/19*/

#homepage-banner .btn-orange a.fl-button span em {
    font-family: 'PT Serif', serif;
}
#homepage-lessons-reimagined h2.fl-heading span,
#homepage-lessons-reimagined .fl-button-wrap {
    display: table;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
}
#homepage-lessons-reimagined .fl-col-group:nth-child(2) .fl-col {
    max-width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div#homepage-lessons-reimagined .fl-rich-text {
    font-size: 16px;
}
#homepage-what-you-learn ul {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
#homepage-what-you-learn ul li {
    display: inline-block;
}
#homepage-what-you-learn ul li:not(:last-child)::after {
    content: '•';
    display: inline-block;
    margin: 0 15px;
}
#homepage-recitals {
    font-size: 24px;
}
#homepage-recitals .fl-col-group:first-child {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
#homepage-recitals .img-recital img {
    box-shadow: 0px -30px 50px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px -30px 50px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px -30px 50px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px -30px 50px 0px rgba(0, 0, 0, 0.25);
}
#homepage-recitals .img-recital .fl-module-content {
    position: relative;
    z-index: 1;
}
#testimonial-slider > div {
    background-blend-mode: darken
}
#testimonial-slider .bx-wrapper {
    margin-bottom: 0
}
#testimonial-slider .bx-viewport {
    max-width: 840px;
    margin: auto;
}
#testimonial-slider .ttshowcase_slider {
    position: relative;
}
#testimonial-slider .ttshowcase_wrap {
    height: 100%;
}
#testimonial-slider .ttshowcase_wrap > .ttshowcase_rl_box {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
#testimonial-slider .ttshowcase_rl_quote {
    font-size: 26px;
}
#testimonial-slider .ttshowcase_rl_aditional_info {
    font-size: 26px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-style: italic;
}
#testimonial-slider .tt-slider-controls {
    margin-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
#testimonial-slider .tt-slider-controls > span {
    margin: 0;
}
#testimonial-slider .tt-slider-controls a {
    color: #FFFFFF;
    opacity: 1
}
#testimonial-slider .tt-slider-controls i {
    font-size: 85px;
    line-height: 0;
}
#testimonial-slider #tt-slider-prev {
    float: left;
}
#testimonial-slider #tt-slider-prev i {
    left: 0;
}
#testimonial-slider #tt-slider-next {
    float: right;
}
#testimonial-slider #tt-slider-next i {
    right: 0;
}
#homepage-apply-now {
    color: #4f4f4f;
    font-size: 24px;
    position: relative;
    z-index: 1
}
#homepage-apply-now > div {
    border-radius: 60px;
    box-shadow: 0px -20px 80px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -20px 80px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -20px 80px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px -20px 80px 0px rgba(0, 0, 0, 0.3);
}
#homepage-blog .fl-post-grid-content > * {
    line-height: 1.5
}
#homepage-blog .fl-post-grid-image {
    overflow: hidden;
}
#homepage-blog .fl-post-grid-image a {
    height: 300px;
    display: block;
}
#homepage-blog .fl-post-grid-image img {
    min-height: 300px;
    object-fit: cover;
    object-position: center;
}
#homepage-blog .readmore {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
#homepage-schedule {
    font-size: 24px;
}
#subscribe-to-newsletter {
    font-size: 20px;
    font-weight: 700
}
#subscribe-to-newsletter .widget {
    margin-bottom: 0 
}
#subscribe-to-newsletter .gform_wrapper {
    margin: 0
}
#site-footer .fl-menu .fl-has-submenu-container a {
    padding-left: 0;
    padding-right: 0;
}
#site-footer .menu > li > a {
    padding-left: 0;
    padding-right: 0
}
#site-footer .footer-icon-location {
    color: #353a3f;
    font-size: 16px;
}
#site-footer .footer-icon-location p {
    margin-bottom: 0;
}
#site-footer .footer-icon-location em {
    color: #88ca45;
    font-size: 20px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
}
#site-footer .footer-icon-location .fl-icon {
    vertical-align: top;
    padding-top: 5px
}
#site-footer .footer-icon-location .ua-icon-map {
    width: 25px;
    height: 20px;
    background: url(../images/icon-map-marker.png) no-repeat center center;
}
#site-footer .footer-icon-location .ua-icon-map::before {
    visibility: hidden;
}
#site-developer {
    font-size: 18px;
}
#site-developer img {
    vertical-align: text-bottom;
    margin-bottom: 0;
    margin-left: 5px;
}
.site-container .lessons-banner .fl-col .fl-module-heading h2.fl-heading span em {
    color: inherit;
}
.site-container .lessons-banner .fl-col .fl-module-heading h3.fl-heading span em {
    color: #88ca45;
}
.lessons-related-articles .fl-post-grid-post {
    border: none;
    background: transparent;
}
.lessons-related-articles .fl-post-grid-image {
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}
.lessons-related-articles .fl-post-grid-image > a {
    display: block;
    height: 250px;
}
.lessons-related-articles .fl-post-grid-image img {
    min-height: 250px;
}
#lesson-icons {
    font-size: 18px;
    color: #686868
}
#piano-lessons-section {
    font-size: 24px;
}
#lessons-how-it-works .fl-module-widget {
    background-color: #efefef
}
#lessons-how-it-works .widget {
    margin-bottom: 0
}
#lessons-how-it-works .widgettitle {
    font-size: 30px;
    color: #f47121
}
#lessons-how-it-works #call-us > div {
    border-radius: 50px;
    line-height: 1;
    letter-spacing: -1px;
}
#lessons-how-it-works #call-us h2 {
    line-height: 1
}
#how-it-works-steps {
    font-size: 24px;
}
#how-it-works-steps p:last-of-type {
    margin-bottom: 0;
}
#testimonial-slider.lessons-page .tt-slider-controls a {
    color: #8c8c8c
}
#teach-piano-lessons > div {
    border-radius: 50px;
    margin: 20px;
}
#blog-featured-post .fl-post-grid-post {
    border: none;
}
#blog-featured-post .image-only .fl-post-grid-text {
    display: none;
}
#blog-featured-post .image-only .fl-post-grid-image {
    overflow: hidden;
}
#blog-featured-post .image-only .fl-post-grid-image > a {
    height: 500px;
    display: block;
}
#blog-featured-post .fl-post-grid-text .readmore {
    display: block;
    margin-top: 15px;
    font-weight: 700
}
#latest-posts-section .fl-post-grid-image {
    height: 200px;
    overflow: hidden;
}
#latest-posts-section .fl-post-grid-meta {
    font-size: 14px;
}
#latest-posts-section .fl-post-grid-text {
    padding-top: 20px;
    padding-bottom: 20px;
}
#latest-posts-section .fl-post-grid-content p {
    line-height: 1.4
}
#latest-posts-section .fl-post-grid-content .readmore {
    margin-top: 15px;
    font-weight: 700;
    display: block;
}
.page-id-7 #subscribe-to-newsletter {
    display: none;
}
#lotg-values .learn .fl-heading {
    position: relative;
}
#lotg-values .learn .fl-heading .fl-heading-text span {
    font-size: 35px;
    font-family: 'PT Serif', serif;
    color: #42acd1;
    font-weight: bold;
}
#franchise-form,
.widget-form {
    max-width: 380px;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}
#franchise-form .widgettitle,
.widget-form .widgettitle {
    font-size: 30px;
}
.page-id-8905 #gform_submit_button_5 {
    background-color: #88ca45;
    border-color: #88ca45
}
.page-id-8905 #gform_submit_button_5:hover,
.page-id-8905 #gform_submit_button_5:focus {
    filter: saturate(100%) hue-rotate(90deg);
    -webkit-filter: saturate(100%) hue-rotate(90deg);
}
#reasons {
    color: #444444;
    font-size: 24px
}
#franchise-green-section {
    position: relative;
}
#franchise-green-section::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: -moz-linear-gradient( 69deg, rgb(121,184,56) 0%, rgb(66,172,205) 100%);
    background-image: -webkit-linear-gradient( 69deg, rgb(121,184,56) 0%, rgb(66,172,205) 100%);
    background-image: -ms-linear-gradient( 69deg, rgb(121,184,56) 0%, rgb(66,172,205) 100%);
    background-image: linear-gradient( 69deg, rgb(121,184,56) 0%, rgb(66,172,205) 100%);
}
#franchise-green-section > div > div {
    position: relative;
    z-index: 1
}
#franchise-green-section .fl-module-rich-text {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#location-info .fl-icon {
    vertical-align: top;
}
#location-info .fl-icon-text {
    padding-top: 7px;
}
#location-info .hours-open {
    margin: 0;
}
#location-info .hours-open > li {
    list-style-type: none;
    position: relative;
}
#location-info .hours-open span {
    float: right;
    margin-left: 20px !important
}
#location-info .hours-open .open-today, #location-info .hours-open .close-today {
    font-weight: 700;
    color: #42acd1
}
#location-info .hours-open .open-today::before {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.open-today-with-time {
    text-align: center;
    margin-bottom: 0;
    font-size: 35px;
}
.open-today-with-time span {
    text-transform: uppercase;
    color: #88ca45 !important
}
#call-us > div {
    border-radius:  50px;
}
#career-banner h3.fl-heading span span {
	color: #88ca45
}
#music-lesson-application-form {
	background-color: #FFFFFF;
}
#music-lesson-application-form .widgettitle {
    font-size: 30px;
    color: #f47121;
}
#music-lesson-application-form .widgettitle strong {
	font-size: 21px;
    color: #88ca45;
    float: right;
    margin-right: 10px;
}
#music-lesson-application-form #gform_submit_button_6 {
	background-color: #42acd1;
	border-color: #42acd1;
	padding-top: 12px;
    padding-bottom: 12px;
}
#music-lesson-application-form #gform_submit_button_6:hover,
#music-lesson-application-form #gform_submit_button_:focus {
	color: #ffffff;
	filter: saturate(100%) hue-rotate(270deg);
    -webkit-filter: saturate(100%) hue-rotate(270deg);
}
body #music-lesson-application-form .gform_wrapper .top_label div.ginput_container {
	margin-top: 0
}
.lotg-post-title {
	background: #42acd1 url(../images/bg-blog-header.png) bottom center no-repeat;
    background-size: cover;
	color: #FFFFFF;
	text-align: center;
    padding: 30px 0;
    margin-bottom: 100px;
}
.lotg-post-title .entry-title {
	color: #FFFFFF;
	font-size: 48px;
}
.lotg-post-title .entry-meta {
	font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 0;
}
.lotg-post-title .entry-meta a {
    color: #FFFFFF
}
.lotg-post-title .entry-footer {
    margin-bottom: 50px;
}
.lotg-post-title .feat-img {
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: -150px;
}
.lotg-related-posts {
    background: #f47121 url(../images/bg-blog-related-posts.png) bottom center no-repeat;
    background-size: cover;
    padding: 50px 60px
}
.lotg-related-posts a {
    color: #FFFFFF
}
.lotg-related-posts h4 {
    color: #FFFFFF;
    font-size: 28px;
}
.lotg-related-posts .rel-img {
    background-size: cover;
    background-position: center;
    height: 220px;
    margin: 20px 0;

    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25); 
    -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25); 
    -ms-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25); 
}
.lotg-related-posts .posted {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
}
.lotg-related-posts .row {
    margin-bottom: 50px;
}
.recommended-age {
    font-size: 32px;
}
.recommended-age em {
    color: #cf9532;
    font-weight: 700;
    font-family: 'PT Serif', serif;
}
#teachers-testimonials .fl-post-slider-title {
    position: absolute;
    bottom: 100px;
}
#teachers-testimonials .fl-post-slider-title::before {
    content: '-';
    color: #ce9732;
    display: inline-block;
    margin-right: 5px
}
.blog-posts {
    background: #42acd1;
    color: #FFFFFF
}
.blog-posts a {
    color: #FFFFFF
}
.blog-posts h1 {
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}
.blog-posts .feat-img {
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.blog-posts .entry-title {
    line-height: 26px;
}
.blog-posts a.entry-title-link {
    font-size: 28px;
}
.blog-posts a.entry-title-link:hover,
.blog-posts a.entry-title-link:focus {
    color: #a6f068
}
.blog-posts .entry-header .entry-meta {
    font-size: 14px;
    margin-bottom: 0
}
.blog-posts .entry-footer .entry-meta {
    font-size: 14px;
    color: #bcd85b;
    margin-bottom: 20px
}
.blog-posts .entry-content {
    margin-bottom: 30px;
}
.blog-posts .readmore {
    color: #bcd85b;
    margin-top: 15px;
    font-weight: 700;
    display: block;
}
#shiftnav-toggle-main {
    background: #FFFFFF
}
#shiftnav-toggle-main::before,
#shiftnav-toggle-main::after {
    content: '';
    display: table;
    clear: both;
}
body #shiftnav-toggle-main.shiftnav-toggle-main-align-center .shiftnav-main-toggle-content {
    position: relative;
}
#shiftnav-toggle-main .shiftnav-main-toggle-content img {
    max-height: 150px
}
body #shiftnav-toggle-main #shiftnav-toggle-main-button {
    float: none;
    position: absolute;
    right: 0;
}
body .shiftnav:after {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
}
body .shiftnav ul.shiftnav-menu {
    background: #FFFFFF !important
}
.shiftnav.shiftnav-shiftnav-main ul.shiftnav-menu ul.sub-menu {
    padding-left: 30px;
}
#gform_wrapper_7 .gform_fields li select.gfield_select
{
    color: #9c9c9c;
    font-weight: bold;
    font-size: 16px;
    padding: 7px;
}
#gform_wrapper_7 .gform_fields li select#input_7_7.gfield_select
{
    margin-bottom: 0;
}
#gform_wrapper_7 .gform_fields .ginput_container_address.has_zip
{
    margin-top: 8px;
}
#gform_wrapper_7 .gform_fields .ginput_container_address.has_zip .address_zip
{
    width: 100%;
    margin-right: 0;
    padding-right: 0;
}
#lesson-icons .fl-photo-content
{
    height: 80px;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
    padding-top: 0 !important;
}
.dashed-border-animation > .fl-row-content-wrap::before,
.dashed-border-animation > .fl-row-content-wrap::after
{
    border: 3px dashed transparent;
    border-radius: 25px;
    width: 0;
    height: 0;
    content: '';
    position: absolute;
}
.dashed-border-animation > .fl-row-content-wrap::before
{
    top: 0;
    left: 0;
}
.dashed-border-animation > .fl-row-content-wrap::after
{
    bottom: 0;
    right: 0;
}
.dashed-border-animation > .fl-row-content-wrap::before,
.dashed-border-animation > .fl-row-content-wrap::after
{
    width: 100%;
    height: 100%;
}
.dashed-border-animation > .fl-row-content-wrap::before
{
    border-top-color: #c2c2c2;
    border-right-color: #c2c2c2;
    /*transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;*/
    animation: toprighttoleft-v 5s ease-in-out forwards infinite;
}
.dashed-border-animation > .fl-row-content-wrap::after
{
    border-bottom-color: #c2c2c2;
    border-left-color: #c2c2c2;
    /*transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;*/
    animation: bottomelefttoright-v 5s ease-in-out forwards infinite;
}
#teach-piano-lessons {
    margin-top: 20px;
    margin-bottom: 20px
}
#teach-piano-lessons .fl-module-rich-text {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes toprighttoleft-v
{
    0%
    {
        width: 0;
        height: 0;
        transition: width 0.25s ease-out, height 0.25s ease-out;
    }
    25%
    {
        width: 100%;
        height: 0;
        transition: width 0.25s ease-out, height 0.25s ease-out;
    }
    50%
    {
        width: 100%;
        height: 100%;
        transition: width 0.25s ease-out, height 0.25s ease-out;
    }
}
@keyframes bottomelefttoright-v
{
    0%
    {
        width: 0;
        height: 0;
        opacity: 0;
        transition: border-color .5s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.25s;
    }
    50%
    {
        width: 0;
        height: 0;
        transition: border-color .5s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.25s;
    }
    75%
    {
        width: 100%;
        height: 0;
        transition: border-color .5s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.25s;
    }
    100%
    {
        width: 100%;
        height: 100%;
        transition: border-color .5s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.25s;
    }
}
#lessons-how-it-works .widget.gform_widget,
#franchise-form .widget.gform_widget {
    max-width: 305px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 568px) {
    body #subscribe-to-newsletter .gform_wrapper .gform_body {
        width: 90%;
        float: left;
        padding-right: 15px;
    }
    body #subscribe-to-newsletter .gform_wrapper .gform_footer {
        float: left;
        width: 10%;
        clear: none;
        margin: 92px 0 0;
    }
}
@media screen and (min-width: 641px) {
    body #subscribe-to-newsletter .gform_wrapper .gform_footer {
        margin-top: 12px;
    }
}
@media screen and (min-width: 769px) {
    .one-third {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .lotg-related-posts .row {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }body #subscribe-to-newsletter .gform_wrapper .gform_body {
        padding-right: 20px;
    }
    body #subscribe-to-newsletter .gform_wrapper .gform_body #field_4_4 {
    	padding-right: 10px;
    }
    body #subscribe-to-newsletter .gform_wrapper .gform_body #field_4_3 {
    	padding-left: 10px;
    }
}
@media screen and (min-width: 993px) {
	#gform_wrapper_6 .gform_body {
		width: 80%;
		float: left;
	}
	#gform_wrapper_6 .gform_footer {
		width: 20%;
		float: left;
		clear: none;
		padding-left: 15px;
	}
	#gform_wrapper_6 #field_6_1 {
		width: 50%;
		margin-bottom: 0;
	}
	#gform_wrapper_6 #field_6_2,
	#gform_wrapper_6 #field_6_3 {
		width: 25%;
		margin-bottom: 0;
		padding-left: 15px;
	}
	#input_6_1_3_container,
	#input_6_1_6_container {
		padding-top: 0;
	}
}
@media screen and (max-width: 1540px)
{
    #homepage-lessons-reimagined > .fl-row-content-wrap { margin: 120px 50px; }
}
@media screen and (max-width: 1199px) {
    #navbar .fl-row-content-wrap,
    #logo-bar .fl-row-content-wrap {
        padding-left: 0;
        padding-right: 0;
    }
    #navbar .fl-menu a {
        font-size: 18px;
    }
    #logo-bar .fl-col:nth-child(2),
    #logo-bar .fl-col:nth-child(3) {
        width: 20%
    }
    #logo-bar .fl-col:last-child {
        width: 25%
    }
    #homepage-recitals > div,
    #homepage-blog > div,
    #site-footer > div {
        padding-top: 50px
	}
    #site-footer .fl-col-group:first-child > .fl-col:first-child {
        width: 33%;
    }
    #site-footer .fl-col-group:first-child > .fl-col:nth-child(2) {
        width: 33%;
    }
    #site-footer .fl-col-group:first-child > .fl-col:last-child {
        width: 34%;
    }
    #site-footer .fl-col-group:first-child > .fl-col:last-child .fl-module:last-child .fl-module-content {
        margin-right: 10px;
        margin-left: 10px;
    }
    #site-footer .footer-icon-location{
        font-size: 15px;
    }
    #site-footer .footer-icon-location em {
        font-size: 18px;
    }
    #homepage-lessons-reimagined .fl-col-group:nth-child(2) .fl-col:not(:nth-child(4)):not(:last-child),
    #lesson-icons .fl-col-group:nth-child(1) .fl-col:not(:nth-child(4)):not(:last-child) {
        width: 33.3333%;
        max-width: 100%;
        /* height: 370px; */
    }
    #homepage-lessons-reimagined .fl-col-group:nth-child(2) .fl-col:nth-child(4),
    #homepage-lessons-reimagined .fl-col-group:nth-child(2) .fl-col:last-child,
    #lesson-icons .fl-col-group:nth-child(1) .fl-col:nth-child(4),
    #lesson-icons .fl-col-group:nth-child(1) .fl-col:last-child {
        width: 50%;
        max-width: 100%;
    }
    #homepage-lessons-reimagined .fl-col-group:nth-child(2) .fl-col:nth-child(4) {
    	clear: both;
    }
}
@media screen and (max-width: 1199px) and (min-width: 993px) {
    #lessons-how-it-works #call-us h2 {
        font-size: 30px;
    }
    #lessons-how-it-works #call-us .fl-rich-text p {
        font-size: 40px !important
    }
}
@media screen and (min-width: 1023px) and (max-width: 1180px)
{
    #navbar #menu-main-menu > li:last-child > .sub-menu
    {
        right: auto !important;
        left: -110px !important;
    }
    #navbar #menu-main-menu > li:last-child .sub-menu::before
    {
        margin-left: 0;
        right: 40px;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    body.shiftnav-disable-shift-body {
        padding-top: 187px !important;
    }
}
@media screen and (max-width: 1023px)
{
    body #shiftnav-toggle-main #shiftnav-toggle-main-button { top: 20px; }
    body #shiftnav-toggle-main #shiftnav-toggle-main-button:not(.menu-open) { right: 20px; }
    body .shiftnav { padding-top: 70px; }
    body .shiftnav .shiftnav-panel-close { top: 0; font-size: 25px; background: transparent; color: #42acd1; }
    .border-animation > .fl-row-content-wrap::before, .border-animation > .fl-row-content-wrap::after, #homepage-what-you-learn ul li:after { display: none !important; }
    .shiftnav.shiftnav-shiftnav-main ul.shiftnav-menu li.menu-item > .shiftnav-target { padding: 4px 20px !important; }
    #login-btn { padding: 10px 20px; margin-top: 10px; }
    #login-btn > a.fl-button {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        line-height: 22px;
        padding: 7px 14px;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        background: #ffffff;
        border: 3px solid #88ca45;
        color: #88ca45;
        display: block;
        max-width:  205px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }
    #login-btn > a.fl-button > i { margin-right: 5px; }
    #menu-phone { color: #f66d1c; font-weight: 900; font-size: 30px; padding-left: 20px; text-decoration: none; font-family: 'Open Sans', sans-serif; }
    #testimonial-slider > div {
    padding-top: 70px;	
    }
    .fl-node-5b58723b8506a > .fl-row-content-wrap { padding: 50px 20px 150px 20px !important; }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .page-id-7 #homepage-apply-now > div {
        margin-bottom: 0
    }
    .page-id-7 #homepage-apply-now .fl-col {
        width: 50%
    }
    #homepage-apply-now > div {
        margin-top: 50px
    }
}
@media all and (max-width: 992px) {
    .site-inner, .wrap {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
    .lotg-post-title {
        padding-left: 20px;
        padding-right: 20px
    }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    #lessons-how-it-works #call-us h2 {
        font-size: 20px;
    }
    #lessons-how-it-works #call-us .fl-rich-text p {
        font-size: 28px !important
    }
}
@media screen and (max-width: 767px) {
    #shiftnav-toggle-main .shiftnav-main-toggle-content img {
        max-height: 90px
    }
    body.shiftnav-disable-shift-body {
        padding-top: 130px !important;
    }
    h1.fl-heading {
        font-size: 40px !important;
    }
    h2.fl-heading {
        font-size: 32px !important;
    }
    h3.fl-heading {
        font-size: 28px !important
    }
    #homepage-lessons-reimagined .fl-col-group:nth-child(2) .fl-col:not(:nth-child(4)):not(:last-child),
    #lesson-icons .fl-col-group:nth-child(1) .fl-col:not(:nth-child(4)):not(:last-child)
    {
        height: auto;
    }
    #lesson-icons .btn-blue-outline > .fl-module-content { margin-top: 50px; margin-bottom: 50px; }
    #reasons .fl-col-group > .fl-col-small { position: relative; }
    #reasons .fl-col-group > .fl-col-small .fl-module-content { margin: 0 0 20px 0; }
    #reasons .fl-col-group > .fl-col .fl-rich-text { padding-left: 50px; }
    #reasons .fl-col-group > .fl-col-small .fl-heading { position: absolute; top: 20px; }
    .fl-node-5b58723b8506a > .fl-row-content-wrap { padding: 50px 20px 45px 20px !important; }
    .fl-node-5b58723b8506a .fl-node-5b58723b89255 { margin-top: 50px; }

    body .fl-builder-content .fl-row .fl-module-icon {
        text-align: left !important
    }
    #location-info .fl-module-icon:not(#location-hours-icon) .fl-icon i,
    #location-info .fl-module-icon:not(#location-hours-icon) .fl-icon i::before {
        line-height: 40px;
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
    #location-info .fl-module-icon:not(#location-hours-icon) h4 {
        font-size: 22px;
    }
    .page-id-8845 #teach-piano-lessons + div + div .fl-icon,
    .page-id-8845 #teach-piano-lessons + div + div .fl-icon-text {
        vertical-align: top;
    }
    #lessons-how-it-works #call-us {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #lessons-how-it-works #call-us h2 {
        font-size: 25px !important;
    }
    #lessons-how-it-works #call-us .fl-rich-text p {
        font-size: 35px !important
    }
    .fl-builder-content .fl-module-button a.fl-button {
        padding: 10px 15px !important;
        font-size: 20px !important
    }
    .fl-builder-content .fl-button-center {
        text-align: center !important;
    }
    #location-info .hours-open {
        font-size: smaller
    }
    #testimonial-slider .tt-slider-controls i {
        font-size: 35px;
    }
    #testimonial-slider .bx-wrapper {
        padding-left: 20px;
        padding-right: 20px;   
    }
    #testimonial-slider .ttshowcase_rl_quote {
        font-size: 20px;
    }
    #homepage-apply-now > div > div {
        background-color: rgba(255,255,255,0.7);
    }
}

@media screen and (max-width: 767px) and (orientation:portrait) {
    body #shiftnav-toggle-main #shiftnav-toggle-main-button {
        padding-right: 5px;
    }
}

@media only screen and (max-width: 414px)
{
    body.home.shiftnav-disable-shift-body { padding-top: 70px !important; }
    body:not(.home).shiftnav-disable-shift-body { padding-top: 120px !important; }
    #homepage-banner{ padding-top: 50px; }
    #homepage-banner .fl-node-5b4fb04702074 { display: none; }
    #homepage-banner .fl-node-5b4fb2e939d61 .fl-button { padding: 0 15px; background: #fb912b; border-color: #fb912b; }
    #homepage-banner .fl-node-5b4fb2e939d61 .fl-button .fl-button-text { font-size: 15px; position: relative; top: -2px; }
    .fl-node-5b4fb9cef21d4.fl-module > .fl-module-content { margin-top: 0; }
    #homepage-lessons-reimagined h2.fl-heading span, #homepage-lessons-reimagined .fl-button-wrap { padding-left: 0; padding-right: 0; font-size: 25px;}
    .fl-node-5b4fbee506ee8.fl-module > .fl-module-content { margin-bottom: 50px; }
    #homepage-what-you-learn ul { display: table; width: 100%; }
    #homepage-what-you-learn ul li { width: auto; font-size: 20px; padding-left: 3px; padding-right: 5px}
    #homepage-what-you-learn ul li:nth-child(9) { width: 100px; }
    #homepage-recitals > .fl-row-content-wrap { padding-bottom: 0; }
    #homepage-recitals .fl-node-5b509b8f057b3 .fl-heading, #homepage-recitals p, #homepage-recitals .fl-button-center { text-align: left !important }
    .fl-node-5b50a023e0610 { width: 110vw; position: relative; left: -10vw; }
    #homepage-lessons-reimagined > .fl-row-content-wrap{margin: 0;}
    #homepage-lessons-reimagined .fl-col-group.fl-node-5b4fbd85942f5 span.fl-button-text{ font-size: 24px; }
    #testimonial-slider { color: #8c8c8c; }
    #testimonial-slider .bx-pager.bx-default-pager { padding-top: 60px; position: relative; }
    #testimonial-slider .fl-node-5b50a9e82d8e1 { position: absolute; bottom: 60px; }
    #testimonial-slider > div.fl-row-content-wrap { background: #ffffff; }
    #testimonial-slider .fl-heading-text { color: #f47121 !important; }
    #testimonial-slider .tt-slider-controls i { color: #42acd1 }
    #testimonial-slider .ttshowcase_slider .bx-wrapper .bx-pager.bx-default-pager a { width: 15px; height: 15px; border-radius: 100%; background: transparent; border: 2px solid #c1c1c1; }
    #testimonial-slider .ttshowcase_slider .bx-wrapper .bx-pager.bx-default-pager a:hover, #testimonial-slider .ttshowcase_slider .bx-wrapper .bx-pager.bx-default-pager a.active { background: #d7d7d7; }
    .fl-node-5b75051ab1f49 .fl-row-content-wrap > .fl-row-content { border: 2px dashed #d7d7d7; }
    .fl-node-5b75051ab1f49 .fl-row-content-wrap > .fl-row-content .fl-col-content { padding: 20px 0; }
    .fl-node-5b75054fb8432 .fl-button-wrap { text-align: center; margin-top: 20px; }
    .fl-node-5b75054fb8432 .fl-button-wrap a.fl-button { padding-left: 15px !important; padding-right: 15px !important; }
    .fl-node-5b75054fb8432 .fl-button-wrap > a:hover { border-color: #88ca45 !important; }
    .fl-node-5b50d773d90e2 > .fl-row-content-wrap { background-color: #88ca45 !important }
    .fl-node-5b50d990d6582 a > i, .fl-node-5b50d990d6582 a > span { color: #7daa4f !important; }
    #subscribe-to-newsletter .fl-node-5b50eb8deb552 { margin-top: 25px; }
    footer #subscribe-to-newsletter #gform_wrapper_4 > form { position: relative; }
    /* footer #subscribe-to-newsletter #gform_wrapper_4 > form ul > li { width: 40%; float: left; clear: none; }
    footer #subscribe-to-newsletter #gform_wrapper_4 > form ul > li:first-child { margin-right: 15px; }
    footer #subscribe-to-newsletter #gform_wrapper_4 > form .gform_footer.top_label { position: absolute; top: 24px; text-align: right; } */
    footer #subscribe-to-newsletter #gform_wrapper_4 > form ul > li#field_4_3 { width: 80%; }
    footer #subscribe-to-newsletter #gform_wrapper_4 > form .gform_footer.top_label > input[type=image] { width: 15%!important; float: right; margin-top: -55px!important; clear: none; }
    #site-footer .fl-col-group:first-child > .fl-col:last-child .fl-module:last-child .fl-module-content { margin-right: 20px; margin-left: 20px; text-align: left; }
    #homepage-banner .btn-orange a.fl-button span em{font-size: 14px;}
    .fl-builder-content .btn-orange .fl-button-wrap a.fl-button{ font-size: 22px; }
    #testimonial-slider .fl-node-5b50a9e82d8e1{ position: relative !important; }
}

@media screen and (max-width: 1480px){
    li#menu-item-8606 ul.sub-menu{
        left: 0 !important;
    }
}

/* Multi Step Form */
#music-lesson-application-form .widgettitle {
    font-size: 28px;
    color: #f47121;
    text-transform: uppercase;
}
#music-lesson-application-form .widgettitle strong {
    text-transform: capitalize;
}
.paoc-popup-modal {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
	height: 100%;
	margin-top: 58px;
}
.custombox-overlay {
	background-color: transparent !important;
}
.paoc-popup-modal-cnt {
    background-color: rgba(37, 126, 156, 0.9);
    padding: 10px 0px 0px 0px;
	color: #fff;
}
.teacherform input[type="text"] {
    width: 27%;
    margin-right: .5%;
    margin-bottom: 10px;
    display: inline-block;
}
.teacherform_submitbtn,
.popupaoc-link {
	background:url(../images/fly-icon.jpg) no-repeat right 13px #42add1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #42add1;
    width: 100%;
    color: #fff !important;
    padding: 14px 68px 14px 14px;
}
.teacherform_submitbtn:hover,
.popupaoc-link:hover {
	border: 2px solid #0d8db8;
	color: #fff !important;
}
.spu-bg {
    position: relative;
}
body #spu-9258 {
	left: 0 !important;
    height: 100% !important;
    top: 81px !important;
	color: #fff;
}
body .spu-box #gform_10 {
	width: 900px;
    margin: 0 auto;
}
body .spu-box #gform_wrapper_10 #field_10_2, #gform_wrapper_10 #field_10_3 {
    width: auto;
    margin-bottom: 0;
    padding-left: 0px;
}
body .spu-box .gform_wrapper .gf_step span.gf_step_number {
    width: 54px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
	line-height: 53px;
    background: #fff;
    border-radius: 50%;
    display: block !important;
    color: #0e7092;
    margin: 0 auto 15px;
}
body .spu-box .gform_wrapper .gf_step span.gf_step_label {
    font-weight: bold;
	margin-bottom: 20px;
}
body .spu-box .gform_wrapper .gf_step {
    width: 23%;
	margin: 16px 0px 16px 0;
    text-align: center;
}
body .spu-box .gform_wrapper .gf_page_steps {
	border-bottom: 2px solid #CCC;
}
body .spu-box .gform_wrapper .gform_page_footer {
	border-top: 2px solid #CCC;
	margin: 30px 0;
}
body .spu-box #gform_wrapper_10 .gform_body {
    width: 100%;
}
body .spu-box #gform_page_10_2 li.gfield.gf_left_third {
	width: 60%;
}
body .spu-box #gform_page_10_2 li.gfield.gf_right_third {
	width: 40%;
}
body .spu-box .gform_wrapper .gf_custom_style {
    width: 48.5%;
    display: inline-block;
    margin-right: 1.5%;
}
body .spu-box .gform_wrapper .gf_custom_style input {
    width: 100%;
}
body .spu-box .gform_wrapper .break_field {

}
body .spu-box .gform_wrapper #gform_page_10_3 li {
	margin-right: 1.5%;
}
body .spu-box .gform_wrapper .gform_page li input {
	padding: 10px !important;
    border:none;
}
body .spu-box .gform_wrapper .gform_page li select,
body .spu-box .gform_wrapper .gform_page li textarea {
	padding: 6px !important;
    border:none;
}
body .spu-box .gform_wrapper .gform_page_footer .button.gform_button, 
body .spu-box .gform_wrapper .gform_page_footer .button.gform_next_button,
body .spu-box .gform_wrapper .gform_page_footer .button.gform_previous_button {
    margin-right: 10px;
    background: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 21px;
    border-radius: 25px;
    padding: 10px 18px;
    min-width: 130px;
    height: 44px;
    color: #42acd1;
}
body .spu-box .gform_wrapper .gform_page_footer .button.gform_button:hover, 
body .spu-box .gform_wrapper .gform_page_footer .button.gform_next_button:hover,
body .spu-box .gform_wrapper .gform_page_footer .button.gform_previous_button {
	font-size: 15px;
    line-height: 21px;
	padding: 10px 18px;
    background:none;
    border:2px solid #fff;
    color: #fff;
}
body .spu-box #gform_page_10_2 #field_10_10 {
    margin-top: 0px;
}
body .spu-box #gform_page_10_2 #field_10_10 label {
    display:none;
}
body .spu-box #gform_page_10_3 #field_10_36 .ginput_container_checkbox {
    margin-top: 0px;
    margin-left: 15px;
}
.paoc-popup-close {
    top: 15px;
    right: 15px;
}

@media screen and (max-width: 1250px){

	.teacherform_submitbtn, .popupaoc-link {
		display: inline-block;
    	width: auto;
	}
	.teacherform input[type="text"] {
		width: 31%;
	}

}
@media screen and (max-width: 1023px){
	.paoc-popup-modal {
    	margin-top: 353px;
	}
	.paoc-popup-modal-cnt {
		padding: 10px 20px 10px;
	}
	#teachers-testimonials .fl-post-slider-title {
		bottom: 0;
	}
	#blog-featured-post .image-only .fl-post-grid-image > a {
		height: auto;
	}
}
@media screen and (max-width: 1010px){

	.teacherform_submitbtn, .popupaoc-link {
		display: inline-block;
    	width: auto;
	}
	.teacherform input[type="text"] {
		width: 31%;
	}

}

@media screen and (max-width: 920px){
	body .spu-box .gform_wrapper .gf_step {
    	width: 33%;
    }
}

@media screen and (max-width: 960px){
	
	#music-lesson-application-form .widgettitle {
		float: left;
	}
	#music-lesson-application-form .widgettitle strong {
		display: block;
		float: left;
		clear: both;
	}
	.teacherform input[type="text"],
	.teacherform_submitbtn, .popupaoc-link {
		width: 45%;
	}
	
}
@media screen and (max-width: 768px){
	.teacherform input[type="text"],
	.teacherform_submitbtn, .popupaoc-link {
		width: 100%;
	}
	#music-lesson-application-form .widgettitle {
    	font-size: 24px;
	}
	#music-lesson-application-form .widgettitle strong {
		font-size: 18px;
		margin-top: 10px;
	}
	.fl-node-5b5b1bca72491.fl-module > .fl-module-content {
		margin-top: 0px;
	}
	.paoc-popup-modal {
    	margin-top: 230px;
	}
}
@media screen and (max-width: 766px){
	#teachers-testimonials .fl-photo { text-align: center; }
	#teachers-testimonials .fl-post-slider-post { padding: 20px 0 80px; }
	#teachers-testimonials .fl-post-slider-navigation .slider-prev { left: -30px; }
	#teachers-testimonials .fl-post-slider-navigation .slider-next { right: -30px; }
}
@media screen and (max-width: 660px){
	body .spu-box .gform_wrapper .gf_step {
		width: 100%;
		height: auto;
	}	
}

@media screen and (max-width: 600px){
	
	body .spu-box .gform_wrapper .gf_custom_style {
    	width: 100%;
    	display: inline-block;
    	margin-right: 1.5%;
	}
}
/**Safari Only**/
@media not all and (min-resolution:.001dpcm) { @media
{
    .lotg-related-posts .row > .one-third
    {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32.333333%;
        flex: 0 0 32.333333%;
        max-width: 32.333333%;
    }
}}

body #gform_wrapper_9 div.validation_error,
body #gform_wrapper_5 div.validation_error {
    color: #42acd1;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 25px;
    border-top: 2px solid #42acd1;
    border-bottom: 2px solid #42acd1;
    padding: 16px 0;
    clear: both;
    width: 100%;
    text-align: center;
}
body #gform_wrapper_9 .validation_message,
body #gform_wrapper_5 .validation_message {
    color: #000;
    font-weight: 700;
    letter-spacing: normal;
}


html.edge .border-animation > .fl-row-content-wrap {
	border: 2px solid #c2c2c2;
}
html.edge .dashed-border-animation > .fl-row-content-wrap {
	border: 3px dashed #c2c2c2;
	border-radius: 25px;
	overflow: hidden;
}
html.edge .border-animation > .fl-row-content-wrap::before,
html.edge .border-animation > .fl-row-content-wrap::after,
html.edge .dashed-border-animation > .fl-row-content-wrap::before,
html.edge .dashed-border-animation > .fl-row-content-wrap::after {
	display: none!important;
	content: none;
}
.single .wrap {
    margin:auto;
}
